#window {
    font-family: monospace;
    font-size: 26px;
    background-color: {{color.surface}};
    color: {{color.text}};
}

* {
    outline-style: none;
}

#img {
    padding-right: 16px;
}

#entry:selected {
    background-color: {{color.rose}};
}

#entry:selected #text {
    color: {{color.base}};
}

#input {
    background-color: {{color.base}};
    color: {{color.text}};
    min-height: 36px;
    border: none;
    border-radius: 0;
    padding: 12px;
}

#input image {
    color: rgba(0, 0, 0, 0);
}

#input:focus {
    border: none;
    outline: none;
    outline-style: none;
}

#entry {
    padding: 16px;
    padding-left: 24px;
}



