[Desktop Entry]
Type=Application
Version=1.0
Name=notes
GenericName=Notes and knowledge base
Comment=Neorg notes and knowledge base
Exec=sh -c "alacritty --class %c -e neorg ~/Notes"
Terminal=false
Categories=System;ConsoleOnly;
Keywords=system;notes
