statusbar.symbol.size: 18000
statusbar.symbol.rise: 0
statusbar.text.size: 10000
statusbar.text.rise: 4000
Xcursor.size: 32


! COLORS (lighter-darker)
! 0-8:  black            (default: black)
! 1-9:  lead             (default: red)
! 2-10: white            (default: green)
! 3-11: lavender blush   (default: yellow)
! 4-12: light cyan       (default: blue)
! 5-13: cyan             (default: magenta)
! 6-14: peanut           (default: cyan)
! 7-15: orange           (default: white)
*color0: #3a384a
*color1: #435766
*color2: #f9f9f9
*color3: #bbb9c7
*color4: #cadedd
*color5: #89d9e0
*color6: #d1b997
*color7: #e58a3b
*color8: #121a27
*color9: #263947
*color10: #e7e6ee
*color11: #807d94
*color12: #9cbdbb
*color13: #277685
*color14: #624943
*color15: #b24d1b
*color15b: #7c2f1f

*colorwarning: #f4d243
*colorsevere: #de453b

! same as color2
term.foreground: #f9f9f9
! same as color8
term.background: #121a27
! same as color2
term.cursor.foreground: #435766
! same as color13
term.cursor.background: #cadedd

! same as color8
dmenu.normbgcolor: #121a27
dwm.normbgcolor: #121a27
! same as color3
dmenu.normfgcolor: #bbb9c7
dwm.normfgcolor: #bbb9c7
! same as color15
dmenu.selbgcolor: #b24d1b
dwm.selbgcolor: #b24d1b
! same as color2
dmenu.selfgcolor: #f9f9f9
dwm.selfgcolor: #f9f9f9

dwm.normbordercolor: #121a27
dwm.selbordercolor: #e58a3b
dwm.borderpx: 0
