// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds clear-defaults=true {
  locked {
    bind "Alt g" { SwitchToMode "Normal"; }
  }
  normal {
    bind "Alt l" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
        floating true
        ignore_case true
      }
    }
    bind "Alt '" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij_forgot.wasm" {
        floating true
      }
    }
  }
  shared_except "locked" {
    bind "Alt m" "Alt Left" { MoveFocusOrTab "Left"; }
    bind "Alt n" "Alt Down" { MoveFocus "Down"; }
    bind "Alt e" "Alt Up" { MoveFocus "Up"; }
    bind "Alt i" "Alt Right" { MoveFocusOrTab "Right"; }
  }
  shared_except "normal" "locked" {
    bind "Enter" "Esc" { SwitchToMode "Normal"; }
  }
  pane {
    bind "Alt t" { SwitchToMode "Normal"; }
    bind "m" "Left" { MoveFocus "Left"; }
    bind "n" "Down" { MoveFocus "Down"; }
    bind "e" "Up" { MoveFocus "Up"; }
    bind "i" "Right" { MoveFocus "Right"; }
    bind "t" { SwitchFocus; SwitchToMode "Normal"; }
    bind "h" { NewPane; SwitchToMode "Normal"; }
    bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
    bind "r" { NewPane "Right"; SwitchToMode "Normal"; }
    bind "x" { CloseFocus; SwitchToMode "Normal"; }
    bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
    bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
    bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
    bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
    bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0;}
  }
  resize {
    bind "Alt r" { SwitchToMode "Normal"; }
    bind "m" "Left" { Resize "Increase Left"; }
    bind "n" "Down" { Resize "Increase Down"; }
    bind "e" "Up" { Resize "Increase Up"; }
    bind "i" "Right" { Resize "Increase Right"; }
    bind "M" { Resize "Decrease Left"; }
    bind "N" { Resize "Decrease Down"; }
    bind "E" { Resize "Decrease Up"; }
    bind "I" { Resize "Decrease Right"; }
    bind "f" { Resize "Increase"; }
    bind "o" { Resize "Decrease"; }
  }
  move {
    bind "Alt v" { SwitchToMode "Normal"; }
    bind "Tab" { MovePane; }
    bind "Shift Tab" { MovePaneBackwards; }
    bind "m" "Left" { MovePane "Left"; }
    bind "n" "Down" { MovePane "Down"; }
    bind "e" "Up" { MovePane "Up"; }
    bind "i" "Right" { MovePane "Right"; }
    bind "M" "N" { MoveTab "Left"; }
    bind "E" "I" { MoveTab "Right"; }
  }
  tab {
    bind "Alt a" { SwitchToMode "Normal"; }
    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
    bind "m" "Left" "Up" "n" { GoToPreviousTab; }
    bind "i" "Right" "Down" "e" { GoToNextTab; }
    bind "h" { NewTab; SwitchToMode "Normal"; }
    bind "x" { CloseTab; SwitchToMode "Normal"; }
    bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
    bind "b" { BreakPane; SwitchToMode "Normal"; }
    bind "]" { BreakPaneRight; SwitchToMode "Normal"; }
    bind "[" { BreakPaneLeft; SwitchToMode "Normal"; }
  }
  scroll {
    bind "Alt s" { SwitchToMode "Normal"; }
    bind "Alt e" { EditScrollback; SwitchToMode "Normal"; }
    bind "x" { DumpScreen "/tmp/zellij-dump.txt"; }
    bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
    bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
    bind "n" "Down" { ScrollDown; }
    bind "e" "Up" { ScrollUp; }
    bind "Shift n" "PageDown" "Right" "m" { PageScrollDown; }
    bind "Shift e" "PageUp" "Left" "i" { PageScrollUp; }
    bind "d" { HalfPageScrollDown; }
    bind "u" { HalfPageScrollUp; }
  }
  search {
    bind "Alt s" { SwitchToMode "Normal"; }
    bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
    bind "n" "Down" { ScrollDown; }
    bind "e" "Up" { ScrollUp; }
    bind "Shift n" "PageDown" "Right" "m" { PageScrollDown; }
    bind "Shift e" "PageUp" "Left" "i" { PageScrollUp; }
    bind "d" { HalfPageScrollDown; }
    bind "u" { HalfPageScrollUp; }
    bind "Alt n" { Search "down"; }
    bind "Alt e" { Search "up"; }
    bind "c" { SearchToggleOption "CaseSensitivity"; }
    bind "w" { SearchToggleOption "Wrap"; }
    bind "o" { SearchToggleOption "WholeWord"; }
  }
  entersearch {
    bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
    bind "Enter" { SwitchToMode "Search"; }
  }
  renametab {
    bind "Ctrl c" { SwitchToMode "Normal"; }
    bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
  }
  renamepane {
    bind "Ctrl c" { SwitchToMode "Normal"; }
    bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
  }
  session {
    bind "q" { Quit; }
    bind "o" { SwitchToMode "Normal"; }
    bind "s" { SwitchToMode "Scroll"; }
    bind "d" { Detach; }
    bind "l" {
      LaunchOrFocusPlugin "zellij:session-manager" {
        floating true
        move_to_focused_tab true
      };
      SwitchToMode "Normal"
    }
    bind "n" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-sessionizer.wasm" {
        floating true
        move_to_focused_tab true
        cwd "/"
        root_dirs "/home/rg;/home/rg/Repos;/home/rg/Repos/@rust"
        session_layout "default"
      }; SwitchToMode "Normal";
    }
  }
  shared_except "locked" {
    bind "Alt g" { SwitchToMode "Locked"; }
  }
  shared_except "pane" "locked" {
    bind "Alt t" { SwitchToMode "Pane"; }
  }
  shared_except "resize" "locked" {
    bind "Alt r" { SwitchToMode "Resize"; }
  }
  shared_except "scroll" "locked" {
    bind "Alt s" { SwitchToMode "Scroll"; }
  }
  shared_except "session" "locked" {
    bind "Alt o" { SwitchToMode "Session"; }
  }
  shared_except "tab" "locked" {
    bind "Alt a" { SwitchToMode "Tab"; }
  }
  shared_except "move" "locked" {
    bind "Alt v" { SwitchToMode "Move"; }
  }
}

plugins {
  tab-bar { path "tab-bar"; }
  status-bar { path "status-bar"; }
  strider { path "strider"; }
  compact-bar { path "compact-bar"; }
  session-manager { path "session-manager"; }
}

theme "rose-pine-moon"
default_layout "default"
