* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka;
    font-size: 21;
}

window#waybar {
    background-color: #191724;
    color: #e0def4;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button,
#tags button {
    padding: 0 8px;
    margin: 0;
    background-color: transparent;
    color: #e0def4;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

#workspaces button:hover,
#tags button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #524f67;
}

#workspaces button.urgent,
#tags button.urgent {
    background-color: #eb6f92;
    color: #191724;
}

#tags button.occupied {
    background-color: #403d52;
}

#workspaces button.focused,
#tags button.focused {
    background-color: #ebbcba;
    color: #191724;
}

#mode {
    background-color: #64727D;
}

#mode.command {
    background-color: #64727D;
    color: #ebbcba;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-brightness,
#custom-kb,
#mpd {
    margin: 4px 8px;
    padding: 12px 8px; 
    background-color: #26233a;
    border-radius: 8px;
}

#window,
#workspaces {
    padding: 4px 4px;
}

#clock {
    color: #e0def4;
}

/*
#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
*/

label:focus {
    background-color: #9ccfd8;
}

/* TODO(rg):
#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
*/

#pulseaudio {
    color: #c4a7e7;
}

#pulseaudio.muted {
    color: #6e6a86;
}

#custom-brightness {
    color: #f6c177;
}

#cpu {
    color: #ed1c24;
}

#temperature {
    color: #ebbcba;
}

#temperature.critical {
    background-color: #ebbcba;
    color: #191724;
}

#memory {
    color: #9ccfd8;
}

#custom-kb {
    color: #31748f;
}
