/* Colors */
$base: #191724;
$surface: #1f1d2e;
$overlay: #26233a;
$muted: #6e6a86;
$subtle: #908caa;
$text: #e0def4;
$love: #eb6f92;
$gold: #f6c177;
$rose: #ebbcba;
$pine: #31748f;
$foam: #9ccfd8;
$iris: #c4a7e7;
$hllow: #21202e;
$hlmed: #403d52;
$hlhi: #524f67;

/* TODO: Not sure what this does */
* {
  all: unset;
}

window {
  background-color: $base;
  font-family: monospace-system-bar;
  font-size: 22px;
  color: $text;
}

.debug {
  border: 1px solid red;
}

.time {
  font-size: 24px;
}

.statuslist {
  margin-right: 12px;
}

.status {
  &:hover {
    background-color: $hlmed;
  }
}

.status-icon {
  font-family: monospace-system-bar;
  font-size: 36px;
}

.keyboard-layout-icon {
  color: $muted;
}

.brightness-icon {
  color: $gold;
}

.colortemp-icon {
  color: $iris;
}

.cpu-icon {
  color: $love;
}

.volume-icon {
  color: $foam;
}

.volume-muted {
  color: $hlhi;
}

.hypr-workspace {
  font-size: 44px;
  &.occupied {
    color: $subtle;
  }
  &.active {
    color: $love;
  }
}

.hypr-workspace.active .hypr-workspace-empty {
  opacity: 0;
}

.hypr-workspace:not(.occupied):not(.active) .hypr-workspace-filled {
  opacity: 0;
}

.hypr-workspace:not(.occupied) .hypr-workspace-empty {
  color: $hlmed;
}

.submap {
  font-style: italic;
  background-color: $hlmed;
  margin: 8px 0 8px 0;
  padding: 0 8px 0 8px;
  opacity: 0.8;
  color: $rose;
}
